@tailwind base;
@tailwind components;
@tailwind utilities;

@source "../views";

@theme {
    --color-primary: #704fe6;
}

body {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    color: #474747;
}


